:root {
    --color-red-1: #CC2727;

    --color-blue-1: #469DAF;
    --color-blue-2: #007BFF;

    --color-gray-1: #A0A0A0;
    --color-gray-2: #343A40;
    --color-gray-3: #343A40;
    

    --color-gray-light: #F8F9FA;
    --color-gray-light-1: #E9ECEF;
}

$bp-largest1: 90.625em; //1450px
$bp-largest: 75em;     // 1200px
$bp-large: 68.75em;    // 1100px
$bp-medium: 56.25em;   // 900px
$bp-small: 37.5em;     // 600px
$bp-smallest: 31.25em; // 500px

* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;  // 1rem = 10px, 10px/16px = 62.5%

    @media only screen and (max-width: $bp-largest) {
        font-size: 50%;
       }  
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 1.6;
}