.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 2rem 0;

    @media only screen and (max-width: $bp-small) {

        label {
            display: block;
            cursor: pointer;
            // margin-left: auto;
        }

        &__logo {
            // margin-left: 1rem;
            // display: none;

            &-img {
                // display: none;
            }

            &-text {
                // display: none;
            }
        }

        .nav__links {
            width: 100%;
            text-align: center;
            display: none;
            // visibility: hidden;
            
            &-item {
                display: block;
                margin: 0;
            }
        }
 
        #toggle:checked + .nav__links {
            display: block;
            // visibility: visible;
        }
    }  

    #toggle {
        display: none;
    }

    &-label {
        display: none;
        font-size: 2.5rem;
        color: var(--color-gray-1);
        margin-right: 2rem;
    }

    &-input {
        display: none;
    }

    &__logo {
        display: flex;
        align-items: center;

        &-img {
            width: 6rem;
            height: 6rem;
            margin-right: 1rem;
        }

        &-text {
            font-size: 2rem;
            font-weight: 400;
        }
    }

    &__links {
        // display: block;
        &-item {
            font-size: 2rem;
            text-decoration: none;
            color: var(--color-gray-1);
            margin-right: 3rem;
            font-weight: 400;
        }
    }
}

.btn {
    width: 13rem;
    height: 4rem;
    background-color: transparent;
    border: 1px solid var(--color-gray-1);
    font-weight: 500;
    color: #fff;
    font-size: 1.6rem;
    text-transform: capitalize;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page {
    background-image: linear-gradient(
        to right,
        rgba(#469DAF, .8),
        rgba(#469DAF, .8)),
        url(/mountains.jpg);
        background-size: cover;
        background-position: center;
        height: 90vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

    &__top {
        display: flex;
        justify-content: center;
        flex: 0 0 85%;

        &__left {
            flex: 0 0 50%;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: #fff;

            &-header {
                font-size: 8rem;
                font-weight: 300;
                text-transform: capitalize;
                line-height: 1.3;
                
            }

            &-text {
                font-size: 1.4rem;
                // flex: 0 1 100%;
                font-weight: 300;
                margin-bottom: 3rem;
            }
        }

        &__right {
            flex: 0 0 40%;
            display: flex;

            @media only screen and (max-width: $bp-largest) {
                display: none;
               }  
            &-img {
                
                width: 50rem;
                // height: 100%;
            }
        }
    }

    &__bottom {
        width: 100%;
        background-color: var(--color-gray-2);
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 0 0 15%;
        

        &__form {
            display: flex;
            justify-content: center;

            &-input {
                flex: 0 0 55%;
                height: 3.5rem;
                margin-right: 3rem;
                padding: 1rem;
                font-size: 1.6rem;
                color: var(--color-gray-1);

                @media only screen and (max-width: $bp-largest) {
                    flex: 0 0 45%;
                }  

                @media only screen and (max-width: $bp-medium) {
                    flex: 0 0 30%;
                }  
            }

            &-button {
                flex: 0 0 55%;
                background-color: var(--color-blue-2);
                border: none;
                color: #fff;
                font-size: 1.6rem;

                @media only screen and (max-width: $bp-largest) {
                    flex: 0 0 45%;
                }   

                @media only screen and (max-width: $bp-medium) {
                    flex: 0 0 30%;
                }    
            }

            &-icon {
                height: 2rem;
                width: 2rem;
                fill: #fff;
            }
        }
    }
}

.box__four {
    border: 1px solid var(--color-blue-2);
    border-radius: 4px;
    flex: 0 0 20%;
    margin-left: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    color: var(--color-blue-2);

    @media only screen and (max-width: $bp-large) {
        justify-content: space-evenly;
        flex: 0 0 17%;
    }
    
    @media only screen and (max-width: $bp-medium) {
        justify-content: space-evenly;
        flex: 0 0 15%;
        margin-left: 1rem;
       }  

       

    &-1 {
        color: #fff;
        background-color: var(--color-blue-2);

    }

    &-header {
        font-size: 4.5rem;
        text-transform: capitalize;
        font-weight: 500;

        @media only screen and (max-width: $bp-medium) {
            font-size: 3rem;
        }  
    }

    &-text {
        text-align: center;
        font-size: 1.5rem;
        padding-bottom: 3rem;
        line-height: 1.8;
    }
    
}

.book {
    background-color: var(--color-gray-light);
    display: flex;
    flex-direction: column;

    &__top {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            

        &-header {
            margin-top: 10rem;
            font-size: 5rem;
            text-transform: capitalize;
            color: var(--color-blue-2);
            line-height: 1.3;
        }

        &-text {
            text-align: center;
            font-size: 1.6rem;
            width: 30%;
            color: var(--color-gray-1);
            border-bottom: 1px solid var(--color-gray-1);
            padding: 3rem 0;

        }
    }

    &__bottom {
        display: flex;
        justify-content: center;
        align-items: center;

        &__box {
            margin-top: 5rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 50%;
            margin-bottom: 8rem;

            @media only screen and (max-width: $bp-largest) {
                width: 90%;
               }  


            & > * {
                display: inline-block;
                height: 100%;
                width: 100%;
            }

            &-button {
                height: 5rem;
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                border: 1px solid var(--color-gray-1);
                font-size: 1.6rem;
                font-weight: 700;
                text-transform: capitalize;
                color: var(--color-gray-2);
                transition: all .5s;
            }
            
            &-button:hover+&-text {
                display: block;
                visibility: visible;
            }
            &-icon {
                display: flex;
                width: 2.5rem;
                height: 2.5rem;
                margin-right: 1rem;
                fill: var(--color-gray-2);
            }

            &-text {
                text-align: center;
                font-size: 1.6rem;
                padding: 2rem;
                color: var(--color-gray-2);
                border: 1px solid var(--color-gray-1);
                display: none;
            }
        }
    }
}

.people {
    //   /  width: 80vw;

    &__bottom {
        display: flex;
        margin-top: 12rem;
        margin-bottom: 6rem;
        justify-content: center;
        flex: 0 0 10%;
        width: 100vw;

        @media only screen and (max-width: $bp-largest) {
            display: flex;
            flex-wrap: wrap;
            // margin: 2rem;
           }  

    }

    &__box {
        flex: 0 1 18%;
        display: flex;
        flex-direction: column;
        border: 1px solid var(--color-gray-1);
        border-radius: 3px;
        padding: 1rem;
        
        @media only screen and (max-width: $bp-largest) {
            display: flex;
            flex: 0 0 30%;
            flex-wrap: wrap;
            margin: 2rem;
           }  
        

        &:not(:last-child) {
            margin-right: 3rem;
        }

        &-img {
            align-self: center;
            height: 7rem;
            width: 7rem;
            border-radius: 50%;
            margin-top: -4rem;
        }

        &-header {
            align-self: center;
            font-size: 3rem;
        }

        &-small {
            align-self: center;
            font-size: 2rem;
            color: var(--color-gray-1);
        }

        &-text {
            font-size: 1.2rem;
            text-align: center;
            padding: 1rem .5rem;
        }

        &__social {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
  
            &-icon {
                height: 3rem;
                width: 3rem;
                margin: 3rem 0;
                padding-bottom: .5rem;
                fill: var(--color-blue-2);
                // padding: 1.5rem;

            }
        }
    }
}

.contact {
    background-color: var(--color-gray-light);
    display: flex;
    justify-content: center;
    align-items: center;

    @media only screen and (max-width: $bp-large) {
        display: flex;
        flex-direction: column;
       }  

    &__left {
        display: flex;
        flex-direction: column;
        flex: 0 0 50%;
        margin: 5rem;

        &-header {
            font-size: 3rem;
            text-transform: capitalize;
            line-height: 1;
        }

        &-text {
            font-size: 1.4rem;
            color: var(--color-gray-1);
            padding: 1.5rem 0;
        }

        &-btn {
            padding: 1rem;
            height: 4rem;
            border-radius: 3px;
            border: none;
            color: #fff;
            background-color: var(--color-blue-2);
            font-size: 1.6rem;
            // display: flex;
            flex: 0 0 20%;
        }

        &__form {
            display: flex;
            flex: 0 0 100%;
            align-content: center;
            justify-items: center;
            margin-bottom: 1rem;

            &-icon {
                height: 4rem;
                width: 4rem;
                fill: var(--color-gray-2);
                padding: 1rem;
                background-color: var(--color-gray-light-1);
                border-radius: 3px;
                flex: 0 0 5%;

                &-last {
                    height: 15rem;
                    width: 4rem;
                    fill: var(--color-gray-2);
                    padding: 1rem;
                    background-color: var(--color-gray-light-1);
                    border-radius: 3px;
                    flex: 0 0 5%;
                }
            }

            &-input {
                flex: 0 0 95%;
                padding: 1rem;
                height: 4rem;
                border-radius: 3px;
                border: none;
                font-size: 1.6rem;

                &-last {
                    flex: 0 0 95%;
                    padding: 1rem;
                    height: 15rem;
                    border-radius: 3px;
                    border: none;
                    font-size: 1.6rem;
                
                }
            }
        }
    }

    &__right {
        width: 10rem;
        height: 10rem;

        @media only screen and (max-width: $bp-large) {
            height: 30rem;
            width: 30rem;
            margin:5rem;
        }  
    }
}

.footer {
    height: 10rem;
    background-color: var(--color-blue-2);
    display: flex;
    align-items: center;
    justify-content: flex-end;

    @media only screen and (max-width: $bp-large) {
        display: none;
    }  


    &-text {
        color: #fff;
        font-size: 1.4rem;
        margin-right: 35rem;
    }
}

